<div class="flex justify-center px-4">
    <div class="flex flex-col  max-w-6xl">
        <span class="text-left block mb-4">Categories</span>
        <!-- tabs -->
        <div class="flex flex-wrap justify-center gap-2">
            <span class="bg-[#F5F5FA] border rounded-lg px-4 py-2">Art</span>
            <span class="bg-[#F5F5FA] border rounded-lg px-4 py-2">Business</span>
            <span class="bg-[#F5F5FA] border rounded-lg px-4 py-2">Comedy</span>
            <span class="bg-[#F5F5FA] border rounded-lg px-4 py-2">Drama</span>
        </div>

        <!-- list book -->
        <div class="flex flex-col">
            <!-- header -->
            <div class="flex flex-col sm:flex-row items-center justify-between mt-20 gap-4">
                <p class="text-orange-500">See more</p>
                <p class="font-semibold">قائمة الكتب</p>
            </div>
            <!-- main -->
            <div class="flex flex-wrap mt-9 gap-8 justify-center">
                <!-- card -->
                <div class="flex flex-col gap-2 items-center w-full sm:w-52">
                    <img src="images/assets/book1.png" class="w-full h-56 object-cover" alt="">
                    <p class="font-black">OBJECTIF LUNE</p>
                    <p class="font-bold text-gray-500">OBJECTIF LUNE</p>
                    <button class="shadow px-2 py-1 bg-[#38A7B4] text-white">ابدأ القراءة</button>
                </div>
                <!-- card -->
                <div class="flex flex-col gap-2 items-center w-full sm:w-52">
                    <img src="images/assets/book2.png" class="w-full h-56 object-cover" alt="">
                    <p class="font-black">OBJECTIF LUNE</p>
                    <p class="font-bold text-gray-500">OBJECTIF LUNE</p>
                    <button class="shadow px-2 py-1 bg-[#38A7B4] text-white">ابدأ القراءة</button>
                </div>
                <!-- card -->
                <div class="flex flex-col gap-2 items-center w-full sm:w-52">
                    <img src="images/assets/book3.png" class="w-full h-56 object-cover" alt="">
                    <p class="font-black">OBJECTIF LUNE</p>
                    <p class="font-bold text-gray-500">OBJECTIF LUNE</p>
                    <button class="shadow px-2 py-1 bg-[#38A7B4] text-white">ابدأ القراءة</button>
                </div>
            </div>
        </div>

        <!-- recommended -->
        <div class="flex flex-col">
            <!-- header -->
            <div class="flex flex-col sm:flex-row items-center justify-between mt-20 gap-4">
                <p class="text-orange-500">See more</p>
                <p class="font-semibold">موصي به لك</p>
            </div>
            <!-- main -->
            <div class="flex flex-wrap mt-4 gap-8 justify-center">
                <!-- card -->
                <div class="flex flex-col gap-2 items-center w-full sm:w-52">
                    <img src="images/assets/book1.png" class="w-full h-96 object-cover" alt="">
                </div>
                <!-- card -->
                <div class="flex flex-col gap-2 items-center w-full sm:w-52">
                    <img src="images/assets/book4.png" class="w-full h-96 object-cover" alt="">
                </div>
                <!-- card -->
                <div class="flex flex-col gap-2 items-center w-full sm:w-52">
                    <img src="images/assets/book1.png" class="w-full h-96 object-cover" alt="">
                </div>
            </div>
        </div>




        <!-- list book -->
        <div class="flex flex-col">
            <!-- header -->
            <div class="flex flex-col sm:flex-row justify-center mt-20 gap-x-4">
                <p class="font-semibold">الأكثر تقيما</p>
            </div>
            <!-- main -->
            <div class="flex flex-wrap mt-9 gap-8 justify-center">
                <!-- card -->
                <div class="flex flex-row-reverse bg-black gap-x-3 p-2 ps-16 rounded text-white">
                    <img src="images/assets/book3.png" class="w-full h-20 object-cover">
                    <div class=" flex flex-col content-center items-center">
                        <p>Harry Potter</p>
                        <p>Jack Thorns</p>
                        <div class="flex gap-x-2">
                            <i class="fa-regular fa-star text-white"></i>
                            <i class="fa fa-star text-white"></i>
                            <i class="fa fa-star text-white"></i>
                            <i class="fa fa-star text-white"></i>

                        </div>
                    </div>
                </div>
                <!-- card -->
                <div class="flex flex-row-reverse bg-black gap-x-3 p-2 ps-16 rounded text-white">
                    <img src="images/assets/book2.png" class="w-full h-20 object-cover">
                    <div class=" flex flex-col content-center items-center">
                        <p>Harry Potter</p>
                        <p>Jack Thorns</p>
                        <div class="flex gap-x-2">
                            <i class="fa-regular fa-star text-white"></i>
                            <i class="fa fa-star text-white"></i>
                            <i class="fa fa-star text-white"></i>
                            <i class="fa fa-star text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>